body {
    background-color: #020217;
}

.header-nav {
    background: linear-gradient(#040329, #020217);
}

.nav-link-custom {
    color: #979797;
    font-size: 18px;
    font-family: 'Meera Inimai' sans-serif;
    src: local('Meera Inimai'), url(./fonts/MeeraInimai-Regular.ttf) format('ttf');
    margin-left: 20px;
}

.userIconItem {
    text-decoration: none;
}

.footer-sign {
    color: #979797;
    font-weight: bold;
}